.advert {
    background: #FAE6E9;
    width: 100vw;
    height: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .text_div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40vw;

        .section_header {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: flex-start;
            place-items: flex-start;
            margin-left: 4rem;

            .mainText {
                font-size: 32px;
                font-style: normal;
                font-family: Lato;
                font-weight: bold;
                text-transform: capitalize;
                line-height: 158.7%;
                text-align: left;
                letter-spacing: 0.02em;
                color: #404145;
                margin-bottom: 0px;
                padding-bottom: 24px;
            }

            .features {
                padding-left: 0px;
                margin-top: 0px;

                .feature_lists {
                    list-style: none;
                    padding-bottom: 24px;

                    .feature_header {
                        font-size: 18px;
                        font-weight: 700;
                        font-family: Lato;
                        color: #404145;
                        margin-bottom: 0px;
                        margin-top: 0px;
                        padding-bottom: 8px;

                        .feature_icon {
                            margin-right: 10px;

                            svg {
                                color: #404145;
                            }
                        }
                    }

                    .feature_paragraph {
                        font-size: 18px;
                        font-family: Lato;
                        text-transform: none;
                        line-height: 26px;
                        color: #404145;
                        margin-top: 0px;
                        margin-bottom: 0px;
                    }
                }
            }

            .item_btn {
                border: 3px solid #CD0327;
                padding: .5rem .5rem;
                width: auto;
                line-height: 158.7%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                letter-spacing: 0.02em;
                font-size: 22px;
                font-family: Lato;
                text-decoration: none;
                color: #CD0327;
                border-radius: 4px;
                position: relative;
                transition: .5s;

                // &::before {
                //     content:'';
                //     display: block;
                //     position: absolute;
                //     top: 5px;
                //     bottom: 5px;
                //     left: 5px;
                //     right: 5px;
                //     border: 3px solid #fff;
                //     border-radius: 4px;
                // }

                &:hover {
                    background: #af0424;
                    color: #fff;
                    transition: .3s;
                    border: 3px solid #CD0327;
                }
            }
        }
    }

    .image_div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        .image {
            width: 30vw;
            height: auto;
            border: 1rem solid #fff;
        }
    }
}

@media only screen and (max-width: 900px) {
.advert {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    .text_div {
        width: 100vw;

        .section_header {
            margin-left: 0px;
            padding-top: 48px;
            padding-bottom: 48px;
            padding-left: 32px;
            padding-right: 32px;

            .item_btn {
                width: 60%;
            }
        }
    }

    .image_div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .image {
            width: 80vw;
            height: auto;
            border: 1rem solid #fff;
        }
    }
}
}