.hero {
    width: 100vw;
    height: 70vh;
    overflow: hidden;

    .svg {
        position: absolute;
        height: inherit;
        left: 0px;
        top: 147px;
    }

    .container {
        width: 100%;
        max-width: 1317px;
        margin: 0 auto;
        padding: 0 1.5rem;
        height: inherit;
    }

    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;

        .text {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 2rem 2rem;
            margin-left: 6rem;

            .item_title {
                font-size: 38px;
                font-style: normal;
                font-weight: bold;
                line-height: 158.7%;
                letter-spacing: 0.02em;
                margin-top: 5rem;
                opacity: 0;
                animation: fade-in-down ease-in .5s .4s forwards;
            }

            .scissors_div {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin-top: 2rem;
                margin-bottom: 2rem;
                margin-left: auto;
                opacity: 0;
                animation: fade-in ease-in .5s .7s forwards;

                .scissors {
                    position: absolute;
                    left: 13.5rem;
                }

                .lines {
                    position: absolute;
                    left: 19rem;
                }
            }

            .item_description {
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                line-height: 158.7%;
                letter-spacing: 0.02em;
                color: #6A6A6A;
                opacity: 0;
                animation: fade-in-down ease-in .5s 1s forwards;
            }

            .item_btn {
                background: #CD0327;
                padding: 1rem 1.5rem;
                width: 40%;
                line-height: 158.7%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                letter-spacing: 0.02em;
                font-size: 22px;
                text-decoration: none;
                color: #fff;
                border-radius: 10px;
                position: relative;
                transition: .5s;
                opacity: 0;
                animation: fade-in-down ease-in .5s 1.5s forwards;

                &::before {
                    content:'';
                    display: block;
                    position: absolute;
                    top: 5px;
                    bottom: 5px;
                    left: 5px;
                    right: 5px;
                    border: 4px solid #fff;
                    border-radius: 10px;
                }

                &:hover {
                    background: #af0424;
                    transition: .5s;
                }
            }
        }

        .image_div {
            position: absolute;
            top: 18%;
            right: 15%;
            z-index: 2;
            opacity: 0;
            animation: fade-in ease-in .5s 2s forwards;

            .image {
                height: 70vh;
                width: 22vw;
                border-radius: 50px;
                border: 1rem solid #fff;
            }
        }
    }
}

@media only screen and (max-width: 1289px) {
.hero {
    height: inherit;

    .svg {
        display: none;
    }

    .container {
        max-width: 1617px !important;
    }

    .main {
        .text {
            margin-left: auto !important;

            .item_title {
                font-size: 35px !important;
                line-height: 158.7%;
                letter-spacing: 0.02em;
                margin-top: 3rem !important;
            }

            .scissors_div {
                .scissors {
                    left: 18px !important;
                }

                .lines {
                    left: 7rem !important;
                }
            }

            .item_btn {
                width: 50% !important;
            }
        }
    }
}
}

@media only screen and (max-width: 1029px) {
    .hero {
        height: inherit;

        .main {
            .image_div {

                .image {
                    height: 70vh;
                    width: 30vw;
                    border-radius: 50px;
                    border: 1rem solid #fff;
                }
            }
        }
    }
}

@media only screen and (max-width: 989px) {
    .hero {
        height: inherit;

        .main {

            .text {
                width: 100% !important;
                padding: auto auto !important;
                margin-left: auto !important;

                .item_title {
                    font-size: 30px !important;
                    line-height: 148.7% !important;
                    letter-spacing: 0.02em;
                    margin-top: 2rem !important;
                }

                .scissors_div {
                    .scissors {
                        left: 10px !important;
                    }

                    .lines {
                        left: 6rem !important;
                    }
                }

                .item_description {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px !important;
                    line-height: 148.7% !important;
                    letter-spacing: 0.02em;
                }

                .item_btn {
                    width: 70% !important;
                }
            }

            .image_div {

                .image {
                    height: 60vh;
                    width: 30vw;
                }
            }
        }
    }
}

@media only screen and (max-width: 703px) {
    .hero {
        height: inherit;

        .main {

            .text {
                width: 100% !important;
                padding: auto auto !important;
                margin-left: auto !important;

                .item_title {
                    font-size: 30px !important;
                    line-height: 148.7% !important;
                    letter-spacing: 0.02em;
                    margin-top: 2rem !important;
                }

                .scissors_div {
                    .scissors {
                        left: 40px !important;
                        height: 70px;
                        width: 70px;
                    }

                    .lines {
                        left: 5rem !important;
                        width: 200px;
                    }
                }

                .item_description {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px !important;
                    line-height: 148.7% !important;
                    letter-spacing: 0.02em;
                }

                .item_btn {
                    width: auto !important;
                }
            }

            .image_div {
                right: 10%;

                .image {
                    height: 70vh;
                    width: 35vw;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .hero {
        height: 90vh;

        .main {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            place-items: center;

            .text {
                width: 100% !important;
                padding: auto auto !important;
                margin-left: auto !important;

                .item_title {
                    font-size: 30px !important;
                    line-height: 148.7% !important;
                    letter-spacing: 0.02em;
                    margin-top: 2rem !important;
                }

                .scissors_div {
                    
                    .scissors {
                        left: 35px !important;
                        width: 80px !important;
                        height: 80px !important;
                    }

                    .lines {
                        left: 5.5rem !important;
                        width: 200px !important;
                    }
                }

                .item_description {
                    font-size: 18px !important;
                    line-height: 148.7% !important;
                }

                .item_btn {
                    width: 50% !important;
                }
            }

            .image_div {
                width: 100% !important;
                text-align: center;
                right: 0;
                left: 0;
                top: 75%;

                .image {
                    height: 58vh;
                    width: 60vw;
                    border-radius: 0px;
                    border: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 398px) {
    .hero {
        height: 100vh;

        .main {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            place-items: center;

            .text {
                width: 100% !important;
                padding: auto auto !important;
                margin-left: auto !important;

                .item_title {
                    font-size: 30px !important;
                    line-height: 148.7% !important;
                    letter-spacing: 0.02em;
                    margin-top: 2rem !important;
                }

                .scissors_div {
                    
                    .scissors {
                        left: 35px !important;
                        width: 80px !important;
                        height: 80px !important;
                    }

                    .lines {
                        left: 5.5rem !important;
                        width: 200px !important;
                    }
                }

                .item_description {
                    font-size: 18px !important;
                    line-height: 148.7% !important;
                }

                .item_btn {
                    width: 50% !important;
                }
            }

            .image_div {
                width: 100% !important;
                text-align: center;
                right: 0;
                left: 0;
                top: 83%;

                .image {
                    height: 58vh;
                    width: 70vw;
                    border-radius: 0px;
                    border: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 325px) {
    .hero {
        height: 100vh;

        .main {

            .text {

                .scissors_div {

                    .lines {
                        left: 5.5rem !important;
                        width: 200px !important;
                    }
                }

                .item_description {
                    font-size: 18px !important;
                    line-height: 148.7% !important;
                }

                .item_btn {
                    width: 50% !important;
                }
            }

            .image_div {
                width: 100% !important;
                text-align: center;
                right: 0;
                left: 0;
                top: 95%;

                .image {
                    height: 58vh;
                    width: 70vw;
                    border-radius: 0px;
                    border: none;
                }
            }
        }
    }
}

@keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fade-in-left{
    from{
        transform: translate(100rem, -50%);
    }
    to{
        transform: translate(29rem, -50%);
        opacity: 1;
    }
}

@keyframes fade-in-down {
    from{
        transform: translateY(-2.5rem);
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
