.hero {
    width: 100vw;
    height: auto;
    overflow: hidden;
    position: relative;

    .svg {
        position: absolute;
        height: inherit;
        left: 0px;
        top: 147px;
    }

    .container {
        width: 100%;
        max-width: 1317px;
        margin: 0 auto;
        padding: 0 1.5rem;
        height: inherit;
    }

    .main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;

        .text {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-left: 6rem;

            .item_title {
                font-size: 38px;
                font-family: Lato;
                font-style: normal;
                text-transform: capitalize;
                font-weight: bold;
                line-height: 158.7%;
                letter-spacing: 0.02em;
                margin-top: 0px;
                margin-bottom: 20px;

                .span {
                    background-image: linear-gradient(120deg, #CD0327 0%, #CD0327 100%);
                    background-repeat: no-repeat;
                    background-size: 100% 0.2em;
                    background-position: 0 88%;
                }
            }

            .scissors_div {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin-top: 2rem;
                margin-bottom: 2rem;
                margin-left: auto;

                .scissors {
                    position: absolute;
                    left: 11.5rem;
                }

                .lines {
                    position: absolute;
                    left: 17rem;
                }
            }

            .item_description {
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                font-family: Lato;
                line-height: 158.7%;
                letter-spacing: 0.02em;
                color: #6A6A6A;
                margin-top: 40px;
                margin-bottom: 40px;
            }

            .item_btn {
                border: 3px solid #CD0327;
                padding: .7rem 1rem;
                width: 40%;
                line-height: 158.7%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                letter-spacing: 0.02em;
                font-size: 22px;
                font-family: Lato;
                text-decoration: none;
                color: #CD0327;
                border-radius: 10px;
                position: relative;
                transition: .5s;

                &:hover {
                    background: #af0424;
                    color: #fff;
                    transition: .3s;
                    border: 3px solid #CD0327;
                }
            }
        }

        .image_div {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            // opacity: 0;
            // animation: fade-in ease-in .5s 2s forwards;
            padding-bottom: 1.5rem;

            .image {
                height: 70vh;
                width: auto;
                border-radius: 10px;
            }
        }
    }
}

@media only screen and (max-width: 1289px) {
.hero {
    height: auto;

    .svg {
        display: none;
    }

    .container {
        max-width: 1617px !important;
    }

    .main {
        .text {
            margin-left: auto !important;

            .item_title {
                font-size: 35px !important;
                line-height: 158.7%;
                letter-spacing: 0.02em;
                margin-top: 3rem !important;
            }

            .scissors_div {
                .scissors {
                    left: 18px !important;
                }

                .lines {
                    left: 7rem !important;
                }
            }

            .item_btn {
                width: 50% !important;
            }
        }

        .image_div {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            // opacity: 0;
            // animation: fade-in ease-in .5s 2s forwards;

            .image {
                height: 70vh;
                width: auto;
                border-radius: 10px;
            }
        }
    }
}
}

@media only screen and (max-width: 1029px) {
    .hero {
        height: auto;

        .main {
            .image_div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // opacity: 0;
                // animation: fade-in ease-in .5s 2s forwards;

                .image {
                    height: 70vh;
                    width: auto;
                    border-radius: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: 989px) {
    .hero {
        height: auto;

        .main {

            .text {
                width: 100% !important;
                padding: auto auto !important;
                margin-left: auto !important;

                .item_title {
                    font-size: 30px !important;
                    line-height: 148.7% !important;
                    letter-spacing: 0.02em;
                    margin-top: 2rem !important;
                }

                .scissors_div {
                    .scissors {
                        left: 10px !important;
                    }

                    .lines {
                        left: 6rem !important;
                    }
                }

                .item_description {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px !important;
                    line-height: 148.7% !important;
                    letter-spacing: 0.02em;
                }

                .item_btn {
                    width: 70% !important;
                }
            }

            .image_div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // opacity: 0;
                // animation: fade-in ease-in .5s 2s forwards;

                .image {
                    height: 70vh;
                    width: auto;
                    border-radius: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: 703px) {
    .hero {
        height: auto;

        .main {

            .text {
                width: 100% !important;
                padding: auto auto !important;
                margin-left: auto !important;

                .item_title {
                    font-size: 30px !important;
                    line-height: 148.7% !important;
                    letter-spacing: 0.02em;
                    margin-top: 2rem !important;
                }

                .scissors_div {
                    .scissors {
                        left: 40px !important;
                        height: 70px;
                        width: 70px;
                    }

                    .lines {
                        left: 5rem !important;
                        width: 200px;
                    }
                }

                .item_description {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px !important;
                    line-height: 148.7% !important;
                    letter-spacing: 0.02em;
                }

                .item_btn {
                    width: auto !important;
                }
            }

            .image_div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // opacity: 0;
                // animation: fade-in ease-in .5s 2s forwards;

                .image {
                    height: 70vh;
                    width: auto;
                    border-radius: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .hero {
        height: auto;

        .main {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            place-items: center;

            .text {
                width: 100% !important;
                padding: auto auto !important;
                margin-left: auto !important;
                margin-top: 2rem;

                .item_title {
                    font-size: 30px !important;
                    line-height: 148.7% !important;
                    letter-spacing: 0.02em;
                    margin-top: 2rem !important;
                }

                .scissors_div {
                    
                    .scissors {
                        left: 5px !important;
                        width: 80px !important;
                        height: 80px !important;
                    }

                    .lines {
                        left: 55px !important;
                        width: 200px !important;
                    }
                }

                .item_description {
                    font-size: 18px !important;
                    line-height: 148.7% !important;
                }

                .item_btn {
                    width: 60% !important;
                    margin-bottom: 2rem;
                }
            }

            .image_div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // opacity: 0;
                // animation: fade-in ease-in .5s 2s forwards;

                .image {
                    height: 70vh;
                    width: auto;
                    border-radius: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: 398px) {
    .hero {
        height: auto;

        .main {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            place-items: center;

            .text {
                width: 100% !important;
                padding: auto auto !important;
                margin-left: auto !important;

                .item_title {
                    font-size: 30px !important;
                    line-height: 148.7% !important;
                    letter-spacing: 0.02em;
                    margin-top: 2rem !important;
                }

                .scissors_div {
                    
                    .scissors {
                        left: 3px !important;
                        width: 80px !important;
                        height: 60px !important;
                    }

                    .lines {
                        left: 3rem !important;
                        width: 200px !important;
                    }
                }

                .item_description {
                    font-size: 18px !important;
                    line-height: 148.7% !important;
                }

                .item_btn {
                    width: auto !important;
                }
            }

            .image_div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // opacity: 0;
                // animation: fade-in ease-in .5s 2s forwards;

                .image {
                    height: 70vh;
                    width: auto;
                    border-radius: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: 325px) {
    .hero {
        height: auto;

        .main {

            .text {

                .scissors_div {

                    .lines {
                        left: 5.5rem !important;
                        width: 200px !important;
                    }
                }

                .item_description {
                    font-size: 18px !important;
                    line-height: 148.7% !important;
                }

                .item_btn {
                    width: auto !important;
                }
            }

                .image_div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    // opacity: 0;
                    // animation: fade-in ease-in .5s 2s forwards;

                    .image {
                        height: 70vh;
                        width: auto;
                        border-radius: 10px;
                    }
            }
        }
    }
}

@keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fade-in-left{
    from{
        transform: translate(100rem, -50%);
    }
    to{
        transform: translate(29rem, -50%);
        opacity: 1;
    }
}

@keyframes fade-in-down {
    from{
        transform: translateY(-2.5rem);
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
