.howItWorks {
    width: 100vw;
    height: auto;
    background: #FAE6E9;
    overflow: hidden;

    .svg {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;

        &::before {
            content: '';
            width: 160.86px;
            border: 2px solid #6A6A6A;
            margin-top: 7rem;
            margin-right: 1rem;
        }
        
        &::after {
            content: '';
            width: 160.86px;
            border: 2px solid #6A6A6A;
            margin-top: 7rem;
            margin-left: 1rem;
        }

        .image {
            height: 50px;
            width: 50px;
            margin-top: 5rem;
        }
    }

    .section_header {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        place-items: center;

        .mainText {
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            font-family: Lato;
            line-height: 158.7%;
            text-align: center;
            letter-spacing: 0.02em;
            color: #404145;
            margin-bottom: 0px;
        }

        .subText {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            font-family: Lato;
            line-height: 158.7%;
            text-align: center;
            letter-spacing: 0.02em;
            color: #6A6A6A;
            margin-top: 10px;
        }
    }

    .container {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
        margin-bottom: 4rem;

        .stepone {
            position: relative;
            text-align: center;

            .image_div {
                .image {
                    height: 70px;
                    width: 70px;
                }
            }

            .text_div {
                text-align: center;
                width: 60%;
                margin: auto auto;

                .text {
                    font-size: 18px;
                    font-family: Lato;
                    line-height: 158.7%;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    letter-spacing: 0.02em;
                    color: #404145;
                }
            }

            &::after {
                top: 50%;
                content: "";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border: 13px solid transparent;
                border-left-color: #34a853;
                margin-top: -13px;
                margin-left: -6px;
                left: 100%;
                right: auto;
            }
        }

        .steptwo {
            position: relative;
            text-align: center;

            .image_div {
                .image {
                    height: 70px;
                    width: 70px;
                }
            }

            .text_div {
                text-align: center;
                width: 60%;
                margin: auto auto;

                .text {
                    font-size: 18px;
                    font-family: Lato;
                    line-height: 158.7%;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    letter-spacing: 0.02em;
                    color: #404145;
                }
            }

            
            &::after {
                top: 50%;
                content: "";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border: 13px solid transparent;
                border-left-color: #34a853;
                margin-top: -13px;
                margin-left: -6px;
                left: 100%;
                right: auto;
            }
        }

        .stepthree {
            text-align: center;

            .image_div {
                .image {
                    height: 70px;
                    width: 70px;
                }
            }

            .text_div {
                text-align: center;
                width: 60%;
                margin: auto auto;

                .text {
                    font-size: 18px;
                    font-family: Lato;
                    line-height: 158.7%;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    letter-spacing: 0.02em;
                    color: #404145;
                }
            }
        }
    }

    .learnmore_div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;

        .learnmore_button {
            padding: .5rem .75rem;
            border: 3px solid #CD0327;
            border-radius: 10px;
            text-decoration: none;
            color: #CD0327;
            font-style: normal;
            font-weight: normal;
            text-transform: capitalize;
            font-size: 18px;
            font-family: Lato;
            line-height: 158.7%;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.02em;
            transition: .5s;

            &:hover {
                background: #CD0327;
                border: 3px solid #CD0327;
                color: #fff;
                transition: .3s;
            }
        }
    }
}

@media only screen and (max-width: 599px) {
.howItWorks {
    height: auto;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 4rem;

        .stepone {
            position: relative;
            text-align: center;
            margin-bottom: 3rem;

            .image_div {
                .image {
                    height: 70px;
                    width: 70px;
                }
            }

            .text_div {
                text-align: center;
                width: 60%;
                margin: auto auto;

                .text {
                    font-size: 18px;
                    line-height: 158.7%;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    letter-spacing: 0.02em;
                }
            }

            &::after {
                content: "";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border: 13px solid transparent;
                left: 0;
                right: 0;
                top: 100%;
                margin: 5px auto 0;
                border-color: #34a853 transparent transparent;
            }
        }

        .steptwo {
            position: relative;
            text-align: center;
            margin-bottom: 3rem;

            .image_div {
                .image {
                    height: 70px;
                    width: 70px;
                }
            }

            .text_div {
                text-align: center;
                width: 60%;
                margin: auto auto;

                .text {
                    font-size: 18px;
                    line-height: 158.7%;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    letter-spacing: 0.02em;
                }
            }

            
            &::after {
                content: "";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border: 13px solid transparent;
                left: 0;
                right: 0;
                top: 100%;
                margin: 5px auto 0;
                border-color: #34a853 transparent transparent;
            }
        }

        .stepthree {
            text-align: center;
            margin-bottom: 3rem;

            .image_div {
                .image {
                    height: 70px;
                    width: 70px;
                }
            }

            .text_div {
                text-align: center;
                width: 60%;
                margin: auto auto;

                .text {
                    font-size: 18px;
                    line-height: 158.7%;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    letter-spacing: 0.02em;
                }
            }
        }
    }
}
}

@media only screen and (max-width: 700px) {
.howItWorks {
    .svg {
        &::before {
            content: '';
            width: 120px;
            border: 1.5px solid #6A6A6A;
            margin-top: 6.5rem;
        }
        
        &::after {
            content: '';
            width: 120px;
            border: 1.5px solid #6A6A6A;
            margin-top: 6.5rem;
        }

        .image {
            height: 50px;
            width: 50px;
            margin-top: 5rem;
        }
    }

    .section_header {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        place-items: center;

        .mainText {
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 158.7%;
            text-align: center;
            letter-spacing: 0.02em;
            color: #404145;
            margin-bottom: 0px;
        }

        .subText {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 158.7%;
            text-align: center;
            letter-spacing: 0.02em;
            color: #6A6A6A;
            margin-top: 10px;
        }
    }
}
}

@media only screen and (max-width: 480px) {
.howItWorks {
    padding-top: 10rem;
}
}

@media only screen and (max-width: 398px) {
.howItWorks {
    padding-top: 12rem;
}
}