.latestblogs {
    background: #f5f5f5;
    width: 100vw;
    height: auto;

    .container {
        max-width: 1400px;
        height: auto;
        overflow: hidden;
        margin: 0 auto;

        .header_div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-top: 86px;

            .header {
                font-style: normal;
                font-weight: bold;
                font-size: 28px;
                font-family: Lato;
                line-height: 158.7%;
                text-align: center;
                letter-spacing: 0.02em;
                color: #404145;
                margin-bottom: 0px;
            }

            .more_article_div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .more_article_link {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 17px;
                    font-family: Lato;
                    line-height: 158.7%;
                    text-align: center;
                    letter-spacing: 0.02em;
                    color: #4a73e8;
                    margin-bottom: 0px;
                    transition: opacity .3s ease-in-out;
                        
                    &:hover {
                        text-decoration: none;
                        opacity: .55;
                    }

                    .caret_span {
                        width: 10px;
                        height: 10px;
                        padding-left: 8px;
                        margin: 0;
                        fill: #4a73e8;

                        .caret_right {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .article_div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 30px;
            margin-bottom: 96px;

            .card {
                background: #fff;
                width: 28vw;
                height: auto;
                margin: 0 0;
                border-radius: 10px;
                cursor: pointer;
                box-shadow: 0 .14px 2.29266px rgba(0,0,0,.03231),0 .37px 4.42626px rgba(0,0,0,.04769),0 3px 7px rgba(0,0,0,.09);

                .image_div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .image {
                        width: 28vw;
                        height: 35vh;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        margin-bottom: 16px;
                        object-fit: cover;
                        transition: opacity .3s ease-in-out;

                        &:hover {
                            opacity: .85;
                        }
                    }
                }

                .card_header {
                    font-size: 18px;
                    padding-bottom: 2px;
                    line-height: 140%;
                    color: #404145;
                    font-style: none;
                    font-family: Lato;
                    font-weight: 700;
                    margin: auto .5rem;
                    text-align: start;
                    letter-spacing: 0.02em;
                }

                .category {
                    font-size: 12px;
                    line-height: 140%;
                    color: #404145;
                    font-style: italic;
                    font-family: Lato;
                    font-weight: 400;
                    margin: auto .5rem;
                    text-align: start;
                }

                .card_paragraph {
                    font-size: 16px;
                    padding-bottom: 2px;
                    line-height: 140%;
                    color: #404145;
                    font-style: none;
                    font-family: Lato;
                    font-weight: 550;
                    margin: 1rem .5rem;
                }

                .card_btn {
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    align-items: end;
                    margin-right: 1rem;
                    padding-bottom: 1rem;
                    text-decoration: none;
                    font-family: Lato;
                    color: #4554DD;
                    transition: opacity .3s ease-in-out;

                    &:hover {
                        opacity: .55;
                    }

                    .span_btn_svg {
                        padding-left: .5rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
.latestblogs {

    .container {

        .header_div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 86px;

            .header {
                font-style: normal;
                font-weight: bold;
                font-size: 28px;
                font-family: Lato;
                line-height: 158.7%;
                text-align: center;
                letter-spacing: 0.02em;
                color: #404145;
                margin-bottom: 0px;
            }

            .more_article_div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .more_article_link {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 17px;
                    font-family: Lato;
                    line-height: 158.7%;
                    text-align: center;
                    letter-spacing: 0.02em;
                    color: #4a73e8;
                    margin-bottom: 0px;
                    transition: opacity .3s ease-in-out;
                        
                    &:hover {
                        text-decoration: none;
                        opacity: .55;
                    }

                    .caret_span {
                        width: 10px;
                        height: 10px;
                        padding-left: 8px;
                        margin: 0;
                        fill: #4a73e8;

                        .caret_right {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .article_div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            margin-bottom: auto;

            .card {
                background: #fff;
                width: 80vw;
                height: auto;
                margin: 0 0;
                border-radius: 10px;
                cursor: pointer;
                margin-bottom: 4rem;

                .image_div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .image {
                        width: 80vw;
                        height: 35vh;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        margin-bottom: 16px;
                        object-fit: cover;
                        transition: opacity .3s ease-in-out;

                        &:hover {
                            opacity: .85;
                        }
                    }
                }

                .card_header {
                    font-size: 18px;
                    padding-bottom: 2px;
                    line-height: 140%;
                    color: #404145;
                    font-style: none;
                    font-family: Lato;
                    font-weight: 700;
                    margin: auto .5rem;
                    text-align: start;
                    letter-spacing: 0.02em;
                }

                .category {
                    font-size: 12px;
                    line-height: 140%;
                    color: #404145;
                    font-style: italic;
                    font-family: Lato;
                    font-weight: 400;
                    margin: auto .5rem;
                    text-align: start;
                }

                .card_paragraph {
                    font-size: 16px;
                    padding-bottom: 2px;
                    line-height: 140%;
                    color: #404145;
                    font-style: none;
                    font-family: Lato;
                    font-weight: 550;
                    margin: 1rem .5rem;
                }

                .card_btn {
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    align-items: end;
                    margin-right: 1rem;
                    padding-bottom: 1rem;
                    text-decoration: none;
                    font-family: Lato;
                    color: #4554DD;
                    transition: opacity .3s ease-in-out;

                    &:hover {
                        opacity: .55;
                    }

                    .span_btn_svg {
                        padding-left: .5rem;
                    }
                }
            }
        }
    }
}
}