.header {
    display: flex;
    flex-direction: row;
    max-width: 120rem;

    .nav_buttons_mobile {
        display: none;
    }

    .icon {
        display: none;
    }
    
    .logo {
        display: flex;
        flex-direction: row;
        padding: 1rem 1rem;
        width: 10%;

        a {
            text-decoration: none;
            color: #000;
            font-family: Lato;
        }
    }

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .nav_list {
            display: flex;
            flex-direction: row;
            margin: auto 2rem;
            list-style: none;
            font-size: 18px;
            font-family: Lato;
            align-items: center;
            text-align: center;
            letter-spacing: 0.02em;
            line-height: 158.7%;
            font-style: normal;
            font-weight: normal;
        }

        .nav_item {
            padding: 1rem;
            
            a {
                text-decoration: none;
                color: #404145;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    z-index: 0;
                    left: 0;
                    right: 100%;
                    top: 2.1rem;
                    background: #CD0327;
                    height: 2px;
                    -webkit-transition-property: right;
                    transition-property: right;
                    -webkit-transition-duration: 0.2s;
                    transition-duration: 0.2s;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
                }

                &:hover::before {
                    right: 0 !important;
                }

                &:hover {                    
                    color: #CD0327;
                }
            }
        }

        .nav_penultimate_item {
            padding: 0rem 3rem;

            a {
                text-decoration: none;
                color: #404145;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    z-index: 0;
                    left: 0;
                    right: 100%;
                    top: 2.1rem;
                    background: #CD0327;
                    height: 2px;
                    -webkit-transition-property: right;
                    transition-property: right;
                    -webkit-transition-duration: 0.2s;
                    transition-duration: 0.2s;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
                }

                &:hover::before {
                    right: 0 !important;
                }

                &:hover {                    
                    color: #CD0327;
                }
            }
        }

        .nav_last_item {

            a {
                padding: .5rem 2rem;
                color: #CD0327;
                border: 3px solid #CD0327;
                border-radius: 4px;
                transition: .5s;
                cursor: pointer;
                text-decoration: none;

                &:hover {
                    color: #fff;
                    background: #CD0327;
                    border: 3px solid #CD0327;;
                }
            }
        }

        .nav_buttons {
            display: flex;
            flex-direction: row;
            list-style: none;
            margin: auto 2rem;
            font-size: 18px;
            font-family: Lato;
            align-items: center;
            text-align: center;
            letter-spacing: 0.02em;
            line-height: 158.7%;
            font-style: normal;
            font-weight: normal;
        }
    }
}

@media only screen and (max-width: 989px) {
    .header {
        display: flex;
        flex-direction: column;

        .icon {
            display: block;
            position: absolute;
            top: 0;
            right: 40px;
            line-height: 70px;
            cursor: pointer;
            font-size: 25px;
            font-family: Lato;
        }

        .cancel{
            display: none;
        }

        .nav_buttons_mobile {
            display: flex;
            position: absolute;
            top: 0;
            right: 80px;
            display: flex;
            flex-direction: row;
            list-style: none;
            margin: auto 2rem;
            font-size: 18px;
            font-family: Lato;
            align-items: center;
            text-align: center;
            letter-spacing: 0.02em;
            line-height: 70px;
            font-style: normal;
            font-weight: normal;

            .nav_penultimate_item {
                padding: 0rem 3rem;

                a {
                    text-decoration: none;
                    color: #404145;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        z-index: 0;
                        left: 0;
                        right: 100%;
                        top: 2.1rem;
                        background: #CD0327;
                        height: 2px;
                        -webkit-transition-property: right;
                        transition-property: right;
                        -webkit-transition-duration: 0.2s;
                        transition-duration: 0.2s;
                        -webkit-transition-timing-function: ease-out;
                        transition-timing-function: ease-out;
                    }

                    &:hover::before {
                        right: 0 !important;
                    }

                    &:hover {                    
                        color: #CD0327;
                    }
                }
            }

            .nav_last_item {
                a {
                    padding: .5rem 2rem;
                    color: #CD0327;
                    border: 3px solid #CD0327;
                    border-radius: 4px;
                    transition: .5s;
                    cursor: pointer;
                    text-decoration: none;

                    &:hover {
                        color: #fff;
                        background: #CD0327;
                        border: 3px solid #CD0327;;
                    }
                }
            }
        }

        .nav {
            display: none;
            flex-direction: column;
            width: 100%;

            .nav_list {
                display: block;
                margin: auto auto !important;
                padding-left: 0px !important;
            }

            .nav_buttons {
                display: none;
            }

            .nav_last_item {
                margin: auto;
                width: 50%;
            }

            .nav_penultimate_item {
                padding: 1rem;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .header {
        display: flex;
        flex-direction: column;

        .icon {
            display: block;
            position: absolute;
            top: 0;
            right: 40px;
            line-height: 70px;
            cursor: pointer;
            font-size: 25px;
        }

        .cancel{
            display: none;
        }

        .nav {
            display: none;
            flex-direction: column;
            width: 100%;

            .nav_list, .nav_buttons {
                margin: auto auto !important;
                padding-left: 0px !important;
            }
        }
    }
}
