.services {
    width: 100vw;
    height: auto;
    position: relative;
    overflow: hidden;

    .svg_background {
        position: absolute;
        right: -200px;
        height: 1140px;
        width: 1366px;
        top: 10rem;
    }

    .svg {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;

        &::before {
            content: '';
            width: 150px;
            height: 0px;
            margin-top: 5rem;
            margin-right: 1rem;
            border: 3px dashed #6A6A6A;
        }

        &::after {
            content: '';
            width: 150px;
            height: 0px;
            margin-top: 5rem;
            margin-left: 1rem;
            border: 3px dashed #6A6A6A;
        }

        .image {
            height: 60px;
            width: 50px;
            margin-top: 3rem;
        }
    }

    .section_header {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        place-items: center;
        
        .mainText {
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            font-family: Lato;
            line-height: 158.7%;
            text-align: center;
            letter-spacing: 0.02em;
            color: #404145;
            margin-bottom: 0px;
        }

        .subText {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            font-family: Lato;
            line-height: 158.7%;
            text-align: center;
            letter-spacing: 0.02em;
            color: #6A6A6A;
            margin-top: 10px;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .serviceone {
        display: flex;
        justify-content: flex-start;
        position: relative;
        margin-bottom: 4rem;

        .card {
            position: relative;
            background: #E68193;
            width: 50vw;
            height: 50vh;
            margin-top: 5rem;
            margin-left: 15rem;
            border-radius: 10px;
            box-shadow: 0 .14px 2.29266px rgba(0,0,0,.03231),0 .37px 4.42626px rgba(0,0,0,.04769),0 3px 7px rgba(0,0,0,.09);

            .card_header {
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                font-family: Lato;
                line-height: 158.7%;
                text-align: center;
                letter-spacing: 0.02em;
                color: #FFFFFF;
                margin-top: 3rem;
            }

            .card_list {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin-top: 2rem;
                list-style: none;

                .card_list_item {
                    display: flex;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    font-family: Lato;
                    line-height: 158.7%;
                    text-align: center;
                    letter-spacing: 0.02em;
                    color: #FFFFFF;

                    &:not(:first-child) {
                        padding-top: 2rem;
                    }

                    .span {
                        margin-top: .1rem;
                        margin-right: .3rem;

                        .span_svg {
                            fill: rgb(255, 255, 255);
                            height: 24px;
                            width: 24px;
                        }
                    }
                }
            }
        }

        .image {
            position: absolute;
            background-image: url('../public/images/shade1.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 100%;
            width: 20vw;
            height: 40vh;
            top: 2rem;
            right: 20rem;
            border-radius: 10px;
        }
    }
    
    .servicetwo {
        display: flex;
        justify-content: flex-end;
        position: relative;
        margin-bottom: 4rem;

        .card {
            position: relative;
            background: #E68193;
            width: 50vw;
            height: 50vh;
            margin-top: 5rem;
            margin-right: 20rem;
            border-radius: 10px;
            box-shadow: 0 .14px 2.29266px rgba(0,0,0,.03231),0 .37px 4.42626px rgba(0,0,0,.04769),0 3px 7px rgba(0,0,0,.09);

            .card_header {
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                font-family: Lato;
                line-height: 158.7%;
                text-align: center;
                letter-spacing: 0.02em;
                color: #FFFFFF;
                margin-top: 3rem;
            }

            .card_list {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin-top: 2rem;
                list-style: none;

                .card_list_item {
                    display: flex;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    font-family: Lato;
                    line-height: 158.7%;
                    text-align: center;
                    letter-spacing: 0.02em;
                    color: #FFFFFF;

                    &:not(:first-child) {
                        padding-top: 2rem;
                    }

                    .span {
                        margin-top: .1rem;
                        margin-right: .3rem;

                        .span_svg {
                            fill: rgb(255, 255, 255);
                            height: 24px;
                            width: 24px;
                        }
                    }
                }
            }
        }

        .image {
            position: absolute;
            background-image: url('../public/images/tamara.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 100%;
            width: 20vw;
            height: 40vh;
            top: 2rem;
            left: 15rem;
            border-radius: 10px;
        }
    }
}

@media only screen and (max-width: 1424px) {
.services {

    .serviceone {

        .card {

            .card_header {
                text-align: start;
                padding-left: 40px;
            }

            .card_list {
                align-items: start;

                .card_list_item {

                    &:not(:first-child) {
                        padding-top: 2rem;
                    }
                }
            }
        }
    }
    
    .servicetwo {
        margin-bottom: 4rem;

        .card {

            .card_header {
                text-align: end;
                padding-right: 14rem;
            }

            .card_list {
                align-items: end;
                padding-right: 40px;

                .card_list_item {

                    &:not(:first-child) {
                        padding-top: 2rem;
                    }
                }
            }
        }
    }
}
}

@media only screen and (max-width: 1299px) {
.services {

    .serviceone {

        .card {
            width: 60vw;
            margin-left: 12rem;

            .card_header {
                text-align: start;
                padding-left: 40px;
            }

            .card_list {
                align-items: start;

                .card_list_item {

                    &:not(:first-child) {
                        padding-top: 2rem;
                    }
                }
            }
        }

        .image {
            width: 20vw;
            height: 40vh;
            top: 2rem;
            right: 15rem;
        }
    }
    
    .servicetwo {
        margin-bottom: 4rem;

        .card {
            width: 60vw;
            margin-right: 12rem;

            .card_header {
                text-align: end;
                padding-right: 14rem;
            }

            .card_list {
                align-items: end;
                padding-right: 40px;

                .card_list_item {

                    &:not(:first-child) {
                        padding-top: 2rem;
                    }
                }
            }
        }
        
        .image {
            left: 15rem;
        }
    }
}
}

@media only screen and (max-width: 1145px) {
.services {

    .svg_background {
        position: absolute;
        right: -200px;
        height: 1140px;
        width: 1366px;
        top: 30%;
    }

    .serviceone {
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;

        .card {
            width: 50vw;
            height: auto;
            margin-top: 9rem;
            margin-right: auto;
            margin-left: auto;

            .card_header {
                display: flex;
                justify-content: center;
                margin-top: 10rem;
            }

            .card_list {
                align-items: center;

                .card_list_item {

                    &:not(:first-child) {
                        padding-top: 2rem;
                    }
                }
            }
        }

        .image {
            display: flex;
            justify-content: center;
            width: 20vw;
            height: 35vh;
            top: 2%;
            right: 38%;
        }
    }
    
    .servicetwo {
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        margin-bottom: 4rem;

        .card {
            width: 50vw;
            height: auto;
            margin-top: 9rem;
            margin-right: auto;
            margin-left: auto;

            .card_header {
                display: flex;
                justify-content: center;
                margin-top: 10rem;
                padding-right: 0px;
            }

            .card_list {
                align-items: center;

                .card_list_item {

                    &:not(:first-child) {
                        padding-top: 2rem;
                    }
                }
            }
        }
        
        .image {
            display: flex;
            justify-content: center;
            width: 20vw;
            height: 35vh;
            top: 2%;
            left: 40%;
        }
    }
}
}

@media only screen and (max-width: 945px) {
.services {

    .svg_background {
        position: absolute;
        right: -200px;
        height: 1140px;
        width: 1366px;
        top: 30%;
    }

    .serviceone {
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;

        .card {
            width: 50vw;
            height: auto;
            margin-top: 9rem;
            margin-right: auto;
            margin-left: auto;

            .card_header {
                display: flex;
                justify-content: center;
                margin-top: 10rem;
            }

            .card_list {
                align-items: center;

                .card_list_item {

                    &:not(:first-child) {
                        padding-top: 2rem;
                    }
                }
            }
        }

        .image {
            display: flex;
            justify-content: center;
            width: 20vw;
            height: 35vh;
            top: 2%;
            right: 38%;
        }
    }
    
    .servicetwo {
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        margin-bottom: 4rem;

        .card {
            width: 50vw;
            height: auto;
            margin-top: 9rem;
            margin-right: auto;
            margin-left: auto;

            .card_header {
                display: flex;
                justify-content: center;
                margin-top: 10rem;
                padding-right: 0px;
            }

            .card_list {
                align-items: center;

                .card_list_item {

                    &:not(:first-child) {
                        padding-top: 2rem;
                    }
                }
            }
        }
        
        .image {
            display: flex;
            justify-content: center;
            width: 25vw;
            height: 35vh;
            top: 2%;
            left: 37%;
        }
    }
}
}

@media only screen and (max-width: 812px) {
.services {

    .serviceone {

        .card {
            width: 80vw;
            height: auto;
            margin-top: 9rem;
        }

        .image {
            display: flex;
            justify-content: center;
            width: 30vw;
            height: 35vh;
            top: 2%;
            right: 32%;
        }
    }
    
    .servicetwo {
        margin-bottom: 4rem;

        .card {
            width: 80vw;
        }
        
        .image {
            display: flex;
            justify-content: center;
            width: 30vw;
            height: 35vh;
            top: 2%;
            left: 37%;
        }
    }
}
}

@media only screen and (max-width: 600px) {
.services {

    .svg {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;

        &::before {
            content: '';
            width: 90px;
            height: 0px;
            margin-top: 5rem;
            border: 3px dashed #6A6A6A;
        }

        &::after {
            content: '';
            width: 90px;
            height: 0px;
            margin-top: 5rem;
            border: 3px dashed #6A6A6A;
        }

        .image {
            height: 50px;
            width: 40px;
            margin-top: 3rem;
        }
    }

    .serviceone {

        .card {
            width: 95vw;

            .card_list {
                align-items: flex-start;

                .card_list_item {
                    text-align: start;
                    letter-spacing: 0em;

                    &:not(:first-child) {
                        padding-top: 2rem;
                    }

                    .span {
                        margin-top: .1rem;
                        margin-right: .1rem;
                        padding-right: .5rem;

                        .span_svg {
                            fill: rgb(255, 255, 255);
                            height: 24px;
                            width: 24px;
                        }
                    }
                }
            }
        }

        .image {
            display: flex;
            justify-content: center;
            width: 60vw;
            height: 35vh;
            top: 2%;
            right: 20%;
        }
    }

    .servicetwo {
        margin-bottom: 4rem;

        .card {
            width: 95vw;

            .card_list {
                align-items: flex-start;

                .card_list_item {
                    text-align: start;
                    letter-spacing: 0em;

                    &:not(:first-child) {
                        padding-top: 2rem;
                    }

                    .span {
                        margin-top: .1rem;
                        margin-right: .1rem;
                        padding-right: .5rem;

                        .span_svg {
                            fill: rgb(255, 255, 255);
                            height: 24px;
                            width: 24px;
                        }
                    }
                }
            }
        }
        
        .image {
            display: flex;
            justify-content: center;
            width: 60vw;
            height: 35vh;
            top: 2%;
            left: 20%;
        }
    }
}
}